<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blockchain Battle 1 - Play Curious</title>
    <link href="game.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />

    <!-- Google Analytics -->
    <script>
      window.ga =
        window.ga ||
        function() {
          (ga.q = ga.q || []).push(arguments);
        };
      ga.l = +new Date();
      ga("create", "UA-115175051-1", "auto");
      ga("send", "pageview");
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <!-- End Google Analytics -->
  </head>
  <body>
    <div id="game-parent" class="embedded">
      <canvas id="pixi-canvas"></canvas>
    </div>
    <!-- 
  <div id="descriptive-content">
    <div id="purchase-container">
      <div id="purchase-left">
        <p>Ce jeu vous plait ?</p>
        <p class="text-accent">Achetez le 2ème épisode à seulement 3€ dès maintenant</p>
        <p>Sortie le 3 décembre 2019</p>
      </div>
      <div id="purchase-right">
        <a id="purchase" href="https://playcurious.games/fr/store/">J'EN PROFITE</a>
      </div>
    </div>

    <h3 class="text-accent">Blockchain Battle 1</h3>
    <p></p>
    <p>A game by <a href="https://playcurious.games/">Play Curious</a></p>

    <h4 class="text-accent">Having problems?</h4> 
    <p>Make sure you're using a recent version of Firefox, Chrome, or Safari.
      <br>If you are still having issues, please write us at <i>hello</i> AT <i>playcurious</i> DOT <i>games</i>.
    </p>

    <p class="build-info">Built on <%= date.toUTCString() %>, version <%= commit %> <%= branch %></p> -->

    <!-- build:js deps.js -->
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/pixi.js-legacy/dist/pixi-legacy.js"></script>
    <script src="node_modules/pixi-filters/dist/pixi-filters.js"></script>
    <script src="node_modules/howler/dist/howler.js"></script>
    <script src="node_modules/fontfaceobserver/fontfaceobserver.js"></script>
    <script src="node_modules/jsbi/dist/jsbi-umd.js"></script>
    <!-- endbuild -->

    <!-- build:js-bundle -->
    <script type="module" src="src/game.js"></script>
    <!-- endbuild -->
  </body>
</html>
